flows (6).json
[
    {
        "id": "451a012cbe562e6a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8942984645fcf2ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6231a147268ec49d",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1a18cc385ba651d5",
        "type": "mqtt out",
        "z": "451a012cbe562e6a",
        "name": "",
        "topic": "challenge_alertaleitos/1espb/ultra",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8942984645fcf2ee",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "31076ff39b99a009",
        "type": "mqtt in",
        "z": "451a012cbe562e6a",
        "name": "",
        "topic": "challenge_alertaleitos/1espb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8942984645fcf2ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "f31d9e1aebc8f190"
            ]
        ]
    },
    {
        "id": "f31d9e1aebc8f190",
        "type": "serial out",
        "z": "451a012cbe562e6a",
        "name": "",
        "serial": "6231a147268ec49d",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "90c5bf898f43b00b",
        "type": "inject",
        "z": "451a012cbe562e6a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "1a18cc385ba651d5"
            ]
        ]
    },
    {
        "id": "4c6a0fde704c5209",
        "type": "serial in",
        "z": "451a012cbe562e6a",
        "name": "",
        "serial": "6231a147268ec49d",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "c71406371c418cc5"
            ]
        ]
    },
    {
        "id": "c71406371c418cc5",
        "type": "json",
        "z": "451a012cbe562e6a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "b79110fb0f2bea73"
            ]
        ]
    },
    {
        "id": "b79110fb0f2bea73",
        "type": "function",
        "z": "451a012cbe562e6a",
        "name": "",
        "func": "msg.headers = {\n    'Device-Token':'fadaad92-1e50-4bec-9675-2512348bbb33',\n    'Content-Type':'application/json'\n};\n\nvar status = msg.payload.status;\nvar bed = msg.payload.leito;\nvar color = \"\";\n\nif (status === \"Ocupado\") {\n    color = \"red\";\n} else if (status === \"Iniciando manutenção\") {\n    color = \"yellow\";\n} else if (status === \"Desocupado\") {\n    color = \"green\";\n} else if (status === \"Finalizando manutenção\") {\n    color = \"purple\";\n} else if (status === \"Finalizando limpeza\") {\n    color = \"orange\";\n} else if (status === \"Leito Pronto\") {\n    color = \"green\";\n} else if (status === \"Iniciando limpeza\") {\n    color = \"cyan\";\n}\n\nmsg.payload = [\n    {\n        variable: \"bed_status\",\n        value: status,\n        metadata: {\n            bed_number: bed,\n            color: color\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "c13334b924b020ab"
            ]
        ]
    },
    {
        "id": "c13334b924b020ab",
        "type": "http request",
        "z": "451a012cbe562e6a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.tago.io/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "7b84cb1ef4b4ed77"
            ]
        ]
    },
    {
        "id": "7b84cb1ef4b4ed77",
        "type": "debug",
        "z": "451a012cbe562e6a",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    }
]